<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>

    {% if erreur %}
        <p style="color:red;">{{ erreur }}</p>
    {% endif %}

    <form method="POST" action="/login">
        <label>Email :</label>
        <input type="text" name="email" required><br><br>

        <label>Mot de passe :</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Se connecter</button>
    </form>

    <br>
    <a href="/">Retour accueil</a>
</body>
</html>